body{
    display: flex;
    gap:0px;
    width:100vw;
    height:100vh;
    overflow: hidden;
    justify-content: center;
    margin-top: auto;

    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 50%, #f2c5a2 100%);
    
    
}

label,input{
    display:flex;
    
}
section{
    padding:40px;
}

.flexbox-parent{
    display: flex;
    justify-content: center;

    
 
}

.flexbox-form{
    display:flex;
    min-width:50vw;
    min-height:100vh;
    background-color:grey;
    opacity: .8;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
    
}

.myimg{
    display: flex;
    justify-content: center;
    align-items: center;
    width:30vw;
    height:100%;
    background-image: url('background-image.png');
    z-index: 0;

}

.astro{
    color:wheat;
    background-color: black;
    opacity: .6;
    width:100%;
    text-align: center;
    user-select: none;
}
.mytext{
    font-size: 32px;
    padding:50px;
    width:50%;
    height:35%;
    
    
}

.sign-up-form{
    display:flex;

    flex-grow: 0;
    flex-shrink: 1;
    width: 80%;
    height:40%;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}

input{
        font-family: 'Roboto', sans-serif;
        color: #333;
        font-size: 1.2rem;
        
        padding: .5rem 1rem;
        border-radius: 0.2rem;
        background-color: rgb(255, 255, 255);
        border:none;
        width: 90%;
        display: block;
        
        transition: all 0.3s;
      

}

label{
    display: flex;
    justify-content: center;
    font-size: large;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:invalid{
    border: 2px solid red;
    opacity: .8;
    
}

