body{
    display: flex;
    gap:0px;
    width:100vw;
    height:100vh;
    overflow: hidden;
    justify-content: center;
    margin-top: auto;

    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 50%, #f2c5a2 100%);
    
    
}

.flexbox-parent{
    display: flex;
    justify-content: center;

    
 
}

.flexbox-form{
    display:flex;
    width:50vw;
    height:100vh;
    background-color:grey;
    opacity: .5;
    justify-content: center;
    
    
    
}

.myimg{
    display: flex;
    justify-content: center;
    align-items: center;
    width:30vw;
    height:100%;
    background-image: url('background-image.png');
    z-index: 0;

}

.astro{
    color:wheat;
    background-color: black;
    opacity: .6;
    width:100%;
    text-align: center;
    user-select: none;
}
.mytext{
    font-size: 32px;
    padding:50px;
    width:50%;
    height:35%;
    
    border:1px solid blue;
    
}

